@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* custom Dark Mode Color */
/* [data-theme='dark'],
[data-theme='dark'] body {
	color: #fff;
	background: #1a202c;
} */

/* [class='dark'], */
[class='dark'] body {
	color: #fff;
	background: #1a202c;
}

/* [data-theme='dark'] {
	--fg: #fff;
	--bg: #000;
} */
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
