@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: Poppins, system-ui, sans-serif;
	}
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

[class='dark'] body {
	color: #fff;
	background: #1a202c;
}
